{% extends 'messages/base_messages.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans '新信息' %}{% endblock %}

{% block page_header %}{% trans '新信息' %}{% endblock %}

{% block container %}
  <form class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="to" class="col-sm-1 control-label">收信人</label>
      <div class="col-sm-11">
        <input class="form-control typeahead" type="text" id="to" name="to">
      </div>
    </div>
    <div class="form-group">
      <label for="to" class="col-sm-1 control-label">内容</label>
      <div class="col-sm-11">
        <textarea class="form-control" id="message" name="message" placeholder="写你的信息吧.." rows="4"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-11 col-sm-offset-1">
        <button type="submit" class="btn btn-primary">发送</button>
      </div>
    </div>
  </form>
  <script src="{% static 'js/messages.typehead.js' %}"></script>
{% endblock container %}